/* Hide the article heading */
.main__section__article--heading {
  display: none;
}

/* For the article */
.main__section__article--description {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 3.125rem;
  color: rgb(79,79,79);
}

/* Using desktop view */
@media (min-width: 68rem) {
  .main__section__article--description {
    font-size: 1.125rem;
    padding-right: 6rem;
  }

}
