main {
  text-align: center;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Desktop device */

@media (min-width: 68rem) {
  .main {
    text-align: left;
    padding-left: 10.19rem;
    max-width: 40%;
  }

  body {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: 120% 65% ;
    background-size: 56.5rem 50.56rem;
  }
}
