
/* Fallback fonts */

@font-face {
  font-family: "lato";
  font-weight: 700;
  src: url('../fonts/Lato-Regular.woff2') format("woff2"),
    url('../fonts/Lato-Regular.woff') format("woff"),
    url('../fonts/Lato-Bold.woff2') format("woff2"),
    url('../fonts/Lato-Bold.woff') format('woff')
  ;
}
