.main__footer__navigation__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

@media (min-width: 68rem) {
  .main__footer__navigation__list__item {
    padding-right: 2.5rem;
  }
}
