$decoration: none;
$text_align: center;

body {
  font-family: 'Lato',Arial, Helvetica, sans-serif;
}

main {
  text-align: $text_align;
}

main > header {
  text-align: $text_align;
}

ul {
  padding: 10px;
}

li {
  list-style: $decoration;
}

a {
  text-decoration: $decoration;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Hide all the image description */
span {
  display: $decoration;
}
