@import "variables";

.main__footer {
  background-color: #00ADEE;
}

.main__footer a {
  color: white;
}

.main__footer__navigation {
  text-align: left;
  margin: 0;
}


.main__footer__navigation__social-media {
  @include flex_layout();
  max-width: 150px;
}

.main__footer__navigation__social-media__list-item {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 25px;
  @include text-indent();
}

.main__footer__navigation__social-media__list-item--twitter {
  background-image: url("../img/icon_twitter.svg");
}

.main__footer__navigation__social-media__list-item--facebook {
  background-image: url("../img/icon_facebook.svg");
}

.main__footer__navigation__social-media__list-item--instagram {
  background-image: url("../img/icon_instagram.svg");
}

.main__footer__navigation__find-more {
  @include flex_layout();
}

.main__footer__navigation__find-more {
  font-weight: $font_weight;
  line-height: $line_height;
}

@media (min-width: $breakpoint-desktop) {
  .main__footer__navigation {
    @include flex_layout();
    max-width: $breakpoint-desktop;
    margin: auto;
    padding-block-start: 2rem;
    padding-block-start: 2rem;
  }

  .main__footer__navigation__social-media {
    order: 3;
  }
  .main__footer__navigation__find-more {
    order: 2;
  }

  // .main__footer__navigation__social-media__list-item {
  //   padding-inline-start: 2rem;
  // }

  .main__footer__navigation__find-more {
    padding-inline-start: 2rem;
  }
}
