@import "variables";

// Default device is mobile


.header {
  text-align: center;
  background-color: $header_bg_color;
  @media (min-width: $breakpoint-desktop) {
    position: absolute;
    left: $container_percentage;
  }
}



.header__logo {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding-top: 2.25rem;
  padding-bottom: 3.125rem;

  @media (min-width: $breakpoint-desktop) {
    padding-top: 1rem;
    padding-bottom: 8.3125rem;
    margin-left: calc(#{$container_percentage} - #{$breakpoint-desktop});
  }
}

/* The logo image */
.header__logo__link__image {
  min-width: 11.625rem;

  @media (min-width: $breakpoint-desktop) {
    max-width: 5.75rem;
  }
}
