@import "variables";

.main__logo__heading {
  font-weight: $font_weight;;
  color: $heading_color;
  font-size: $heading_font_size;
  line-height: 1.7;
}

.main__logo__article__list-item {
  display: inline-block;
  columns: 3;
}

@media (min-width: $breakpoint-desktop) {
  .main__logo {
    max-width: $breakpoint-desktop;
    margin: auto;
  }
  .main__logo__article__list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
