@import "variables";

.main__section__header {
  text-transform: uppercase;
  font-weight: $font_weight;
  font-size: $base_font_size;
  margin: 0;
}

.main__section__article__heading {
  font-size: $heading_font_size;
  font-weight: $font_weight;
  color: $heading_color;
  margin: 0;
}

.main__section__article__description {
  margin: 0;
  padding-top: 27px;
  font-size: $base_font_size;
}

.main__section__article__learn-more {
  margin: 0;
  padding-top: 25px;
}

.main__section__article__learn-more__link {
  font-size: $base_font_size;
  font-weight: $font_weight;
}

// .main__section::after {
//   content: "";
//   background-image: url("../img/bg_friendly_user_interface.png");
//   background-repeat: no-repeat;
//   position: absolute;
//   width: 300px;
//   height: 300px;
//   top: 50%;
//   left: 50%;
// }
