@import "variables";

/* This for the section heading */

.content {
  line-height: $line_height;
}

.main__header__masthead {
  font-weight: 700;
  font-size: 1.874rem;
  color: $heading_color;
  margin: 0;
  padding-bottom: 2.06rem;
}

/* When a mouse hover over it */
.main__header__masthead:hover {
  color: $heading_hover_color;
  text-decoration: underline;
}

/* For the article */
.main__header__description {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 3.125rem;
  color: $color;
}



/* Desktop view */
@media (min-width: $breakpoint-desktop) {
  main > header {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 15px;
    background-size: contain;
  }

  .content {
    max-width: $breakpoint-desktop;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 7rem;
    padding-top: 15rem;
  }

  .content > * {
    max-width: $content-width;
  }

  .main__header__masthead {
    font-size: 2.25rem;
  }

  .main__header__description {
    font-size: 1.125rem;
  }
}
