$color: 51, 51, 51;

/* This for the section heading */

.content {
  line-height: 1.5;
}

.main__header__masthead {
  font-weight: 700;
  font-size: 1.874rem;
  color: rgb($color);
  margin: 0;
  padding-bottom: 2.06rem;
}

/* When a mouse hover over it */
.main__header__masthead:hover {
  color: rgba($color, .7);
  text-decoration: underline;
}

/* For the article */
.main__header__description {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 3.125rem;
  color: rgb(79,79,79);
}



/* Desktop view */
@media (min-width: 1120px) {
  main > header {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 15px;
    background-size: contain;
  }

  .content {
    max-width: 1114px;
    margin: auto;
    text-align: left;
    padding-bottom: 7rem;
    padding-top: 15rem;
  }

  .content > * {
    max-width: 546px;
  }

  .main__header__masthead {
    font-size: 2.25rem;
  }

  .main__header__description {
    font-size: 1.125rem;
  }
}
