@import "variables";
/* Using the default device which is mobile */

.main__header__navigation__list {
  @include reset_list();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width: 400px;

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}

