body {
  font-family: 'Lato',Arial, Helvetica, sans-serif;
}

main {
  text-align: center;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Hide all the image description */
span {
  display: none;
}

/* Desktop device */

@media (min-width: 68rem) {
  .main {
    text-align: left;
    padding-left: 10.19rem;
    max-width: 40%;
    margin: 0;
  }

  body {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: 120% 65% ;
    background-size: 56.5rem 50.56rem;
  }
}
