body {
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  max-width: 1000px;
}

main {
  text-align: center;
}

main > header {
  text-align: center;
  max-width: 450px;
}

ul {
  padding: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Hide all the image description */
span {
  display: none;
}

/* Desktop device */

@media (min-width: 68rem) {
  body {
    margin: auto;
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: 700px 65% ;
    background-size: 55rem 50.56rem;
  }

  main > header {
    text-align: left;
    max-width: 500px;
  }

}
