
/* Fallback fonts */

@font-face {
  font-style: normal;
  font-family: "lato";
  font-weight: 400;
  src: local('Lato Regular'),
      local("Lato-Regular"),
      url('../fonts/lato-regular.woff2') format("woff2"),
      url('../fonts/lato-regular.woff') format("woff")
  ;
}


@font-face {
  font-style: normal;
  font-family: "lato";
  font-weight: 700;
  src: local("Lato Bold"),
      local("Lato-Bold"),
      url('../fonts/lato-bold.woff2') format("woff2"),
      url('../fonts/lato-bold.woff') format('woff');
}
