/* Only for the fall back fonts */
/* Fallback fonts */
/* for the regular fonts */
@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff"); }

/* for the bold fonts */
@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff"); }

/* For the style in general */
body {
  font-family: 'Lato',Arial, Helvetica, sans-serif; }

main {
  text-align: center; }

main > header {
  text-align: center; }

ul {
  padding: 10px; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: #4f4f4f; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

/* Hide all the image description */
span {
  display: none; }

/* Import the new file in here */
/* Default device is mobile */
/* This is for the logo */
.header {
  text-align: center; }

.header__logo {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding-top: 2.25rem;
  padding-bottom: 3.125rem; }

/* The logo image */
.header__logo__link__image {
  min-width: 11.625rem; }

/* Desktop view */
@media (min-width: 1114px) {
  .header {
    position: absolute;
    left: 50%; }
  .header__logo {
    padding-top: 1rem;
    padding-bottom: 8.3125rem;
    margin-left: calc(50% - 1114px); }
  .header__logo__link__image {
    max-width: 5.75rem; } }

/* This for the section heading */
.content {
  line-height: 1.5; }

.main__header__masthead {
  font-weight: 700;
  font-size: 1.874rem;
  color: #333333;
  margin: 0;
  padding-bottom: 2.06rem; }

/* When a mouse hover over it */
.main__header__masthead:hover {
  color: rgba(51, 51, 51, 0.7);
  text-decoration: underline; }

/* For the article */
.main__header__description {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 3.125rem; }

/* Desktop view */
@media (min-width: 1114px) {
  main > header {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 15px;
    background-size: contain; }
  .content {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 7rem;
    padding-top: 15rem; }
  .content > * {
    max-width: 546px; }
  .main__header__masthead {
    font-size: 2.25rem; }
  .main__header__description {
    font-size: 1.125rem; } }

/* Using the default device which is mobile */
.main__header__navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px; }
