/* Default device is mobile */
/* This is for the logo */

.main__header__logo {
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 2.25rem;
}

/* The logo image */
.main__header__logo__link--image {
  width: 11.625rem;
}

/* Desktop view */

@media (min-width: 68rem) {
  .main__header__logo{
    padding-top: 1rem;
  }

  .main__header__logo__link--image {
    width: 5.75rem;
  }
}
