.main__section__heading__header {
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.874rem;
  line-height: 1.5;
  color: #333333;
  margin: 0;
  padding-bottom: 2.06rem;
}

.main__section__heading__header:hover {
  color: #7a7979;
  text-decoration: underline;
}

/* Desktop view */
@media (min-width: 68rem) {
  .main__section__heading__header {
    font-size: 2.25rem;
  }
}

